li{
    list-style-type: none;
}

.products-container{
  display: grid;
  max-width: 1700px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
  padding: 16px;
}
@media (max-width: 1080px){
  .products-container{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 700px){
  .products-container{
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 420px){
  .products-container{
    grid-template-columns: 1fr;
  }
}

/* Card  */
.card {
  flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-img {
    width: 100%;
    height: auto;
    height: 280px;
    object-fit: contain;
    background-color: white;
    flex: 1;
  }
  
  .card-body {
    padding: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
  }
  
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .card-price {
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .card-description {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .card-category {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
  }
  
  .card-rating {
    font-size: 0.9rem;
    color: #333;
  }
  
  .card .btn{
    margin-top: 16px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid black;
    color: black;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
  }

  .card .btn:hover{
    background-color: black;
    color: white;
  }





  /* signle product  */
  /* ProductCard.css */
.product-card {
  margin-bottom: 20px;
}

.product-image {
  width: 100%;
  height: auto;
}

.product-details {
  padding: 20px;
}

.product-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.product-description {
  font-size: 1rem;
  margin-bottom: 10px;
}

.product-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-category {
  font-size: 1rem;
  margin-bottom: 10px;
}

.product-rating {
  font-size: 1rem;
}

.rating {
  color: orange;
  font-size: 1.2rem;
  margin-right: 5px;
}
