li{
    list-style-type: none;
}

.products-container{
  display: grid;
  max-width: 1700px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
  padding: 16px;
}
@media (max-width: 1080px){
  .products-container{
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 700px){
  .products-container{
    grid-template-columns: 1fr;
  }
}
@media (max-width: 420px){
  .products-container{
    grid-template-columns: 1fr;
  }
}

/* Card  */
.card {
  flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-img {
    width: 100%;
    height: auto;
    height: 280px;
    object-fit: contain;
    background-color: white;
    flex: 1;
  }
  
  .card-body {
    padding: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
  }
  
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .card-price {
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .card-description {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .card-category {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
  }
  
  .card-rating {
    font-size: 0.9rem;
    color: #333;
  }
  
  .card .btn{
    margin-top: 16px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid black;
    color: black;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
  }

  .card .btn:hover{
    background-color: black;
    color: white;
  }





  /* signle product  */
  /* ProductCard.css */
.product-card {
  margin-bottom: 20px;
}

.product-image {
  width: 100%;
  height: auto;
}

.product-details {
  padding: 20px;
}

.product-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.product-description {
  font-size: 1rem;
  margin-bottom: 10px;
}

.product-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-category {
  font-size: 1rem;
  margin-bottom: 10px;
}

.product-rating {
  font-size: 1rem;
}

.rating {
  color: orange;
  font-size: 1.2rem;
  margin-right: 5px;
}



/* CART PAGE  */

.cart-page {
  padding: 20px;
  display: flex;
  gap: 16px;
}
@media (max-width: 700px){
  .cart-page{
    flex-direction: column;
  }
}
.cart-page .left{
  flex: 1;
}
.products-list {
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-bottom: 16px;
  background-color: white;
}

.product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product .price{
  margin-right: 16px;
}
.product-actions {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.quantity-button {
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 5px;
}

.quantity {
  font-weight: bold;
}

.total-price {
  text-align: right;
  margin-bottom: 20px;
}

.checkout-button {
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .cart-page {
    padding: 10px;
  }

.products-list {
  margin-bottom: 20px;
  width: 100%;
  margin: 0 auto;
}
}

.cart-page .right{
  flex: 1;
  height: fit-content;
}

.cart-page .right {
  max-width: 400px;
  background-color: white;
  padding-top: calc( 8px + 5%);
  padding-bottom: calc( 8px + 5%);
  padding-left: calc( 8px + 5%);
  padding-right: calc( 8px + 5%);

}
.cart-page .right h1{
  margin-bottom: 32px;

}
.cart-page .right .item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;

}
.cart-page .right .item p{
  color: rgba(17, 20, 35, 0.638);

}
.cart-page .right .item h3{

}
.cart-page .right .btn{
  background-color: black;
  color: white;
  border: none;
  padding: 16px;
  width: 100%;
  margin-top: 32px;
  font-weight: bold;
  font-size: 1.25rem;
}
.total-amount{
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* EMPTY CART  */
.empty-cart{
  text-align: center;
  padding: 10% 0;
}
.empty-cart img{}
.empty-cart p{}