
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(240, 240, 255);
  font-family: "Karla", sans-serif;
}
main{
  /* max-width: 1400px; */
}
:root{
  --color-primary-400: #1d1c299d;
  --color-primary-800: #000000;
}

.custom-container{
  /* max-width: 1500px;
  margin: 0 auto; */
  padding: 0 10%;
}
@media (max-width: 450px){

.custom-container{
  padding: 0 16px;
}
}
.heading{
  margin-bottom: 32px;
}