*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(240, 240, 255);
}
main{
  margin: 2rem auto;
  max-width: 1400px;
}
:root{
  --color-primary-400: rgba(255, 136, 0, 0.614);
  --color-primary-800: rgb(255, 136, 0);
}
