body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(29, 29, 40);
  color: white;
}
main{
  margin: 2re auto;
  text-align: center;
}
:root{
  --color-primary-400: rgba(255, 136, 0, 0.614);
  --color-primary-800: rgb(255, 136, 0);
}